<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="naver-site-verification" content="c2dd5d10aea5cc1309417defd97f4b51dc840c65" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="대한민국 환율 시뮬레이션, 환전, 환율, 대한민국, 시뮬레이션, 경제, 외화">
    <meta name="description" content="대한민국 환율 시뮬레이션을 통해 여러 국가의 통화를 이곳에서 운용해보세요">
    <meta property="article:tag" content="환율">
    <meta property="article:tag" content="외화">
    <meta name="author" content="OHDONGHYEON&JESUS, 하나은행">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="favicon.png">
    <title>대한민국 환율 시뮬레이션</title>
</head>
<style>
    body {
        margin:0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .ctn {
        width: 100vw;
        height: 100vh;
        background-size: 100% 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url('https://data.1freewallpapers.com/download/geometrical-gradients-lg-g8-thinq-stock.jpg')
    }

    .barbtn {
        width: 220px;
        height:35px;
        background-color: black;
        border: none;
        border-radius:  100px;
        color:#fff;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        margin: 4px;
        cursor: pointer;
    }

    .newsblock {
        display: inline-block; 
        width: 150px; 
        height:250px; 
        background-color: gainsboro;
        margin-left: 5px; 
        margin-right: 5px; 
        margin-top: 5px;
    }
    footer {
        display: inline;
        margin-top: 100px;
        width: 100%;
        height:250px;
        background-color: darkgrey;
    }
    footer > div {
        display: inline-block;
    }
</style>
<body>
        <div class="ctn">
            <div style="display: inline;"><h1 style="display: inline-block; font-size: 70px;">대한민국 환율 시뮬레이션</h1></div>
            <h2 style="margin-top: -30px;">여러 국가의 통화를 이곳에서 운용해보세요</h2>
            <button class="barbtn" onclick="location.href='service'">시뮬레이션 하러가기</button>
        </div>
    <div>
        <h1 style="font-size: 65px;">현재 상황 뉴스</h1>
        <h2>이곳은 경제뉴스를 알리는 컨탠츠 영역이다</h2>
        <div class="newsctn" style="margin-top:30px; display: inline-block; text-align: center;">
            <div class="newsblock">
                <image style="width: 150px;" src='https://biz.chosun.com/resizer/cahdQqCe4AQCIXYMu44fHan3CEM=/616x0/smart/cloudfront-ap-northeast-1.images.arcpublishing.com/chosunbiz/V74IUDRCMFNR7AK24R4VJJWOJA.jpg'></image>
                <h2 style="font-size: 15px;">美 뉴욕 증시, FOMC 성명 발표 앞두고 상승 출발</h2>
                <p style="font-size: 12px;">출처 : 조선비즈</p>
            </div>
            <div class="newsblock">
                <image style="width: 150px;" src='https://news.einfomax.co.kr/news/photo/202201/4195605_100923_41.jpg'></image>
                <h2 style="font-size: 15px;">美 전문가들 "연준, 1월 FOMC에서 3월 금리인상 시그널"</h2>
                <p style="font-size: 12px;">출처 : 연합인포맥스</p>
            </div>
            <div class="newsblock">
                <image style="width: 150px;" src='https://img1.yna.co.kr/photo/yna/YH/2022/01/25/PYH2022012514120001300_P4.jpg'></image>
                <h2 style="font-size: 15px;">정부 "FOMC 결과, 국내 금융시장 영향 크지 않을 전망"</h2>
                <p style="font-size: 12px;">출처 : 연합뉴스</p>
            </div>
            <div class="newsblock">
                <image style="width: 150px;" src='https://img1.yna.co.kr/photo/yna/YH/2022/01/25/PYH2022012514120001300_P4.jpg'></image>
                <h2 style="font-size: 15px;">정부 "FOMC 결과, 국내 금융시장 영향 크지 않을 전망"</h2>
                <p style="font-size: 12px;">출처 : 연합뉴스</p>
            </div>
            
        </div>
    </div>
    <footer>
        <div>
        <h2>대한민국 환율 시뮬레이션</h2>
        <h3 style="margin-top: -10px;">All rights reserved</h3>
        </div>
        <div style="margin-left: 30px;">
            <h6>개발자 : 하나님 & 오동현</h6>
            <h6 style="margin-top:-20px">사용API : 하나은행 </h6>
            <h6 style="margin-top:-20px">연락처 : namjangsu12@gmail.com</h6>
            <h6 style="margin-top:-20px">Product Num : 3th</h6>
        </div>
    </footer>
</body>
</html>